.auth_body {
    width: 1440px;
	max-width: 1440px;
    height: 1024px;
    top: -1469px;
    left: -3720px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
;
}


.footer_body {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}